<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite  name="Test">

  <test name="Website buying item functionality">

    <classes>
       <class name="ShoppingCartFinalProject" />
    </classes>
    
  </test>
   <test name="Removing Item from Cart">

    <classes>
       <class name="RemoveFromCart" />
    </classes>
  </test>
  

 
</suite>